.login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    position: absolute;
    z-index: 10;
}

.form-box {
    margin: auto;
    position: absolute;
    opacity: 90%;
    background: black;
    padding-right: 65px;
    padding-left: 65px;
    visibility: visible;
    border-radius: 20px;
    /* box-shadow: 10px 10px 1000px 100px rgba(1, 230, 255, 0.733); */
    animation: glowing 20s linear infinite;
    /* backdrop-filter: blur(100px); */
}

.login-text {
    width: 100%;
    color: white;
    border-bottom: 2px solid white;
    line-height: 6vh;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

label {
    color: white;
    width: 100%;
    text-align: center;
}


.login-box {
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 5px;
    font-size: 11pt;
    background: transparent;
    transition: 1s;
    outline: none;
    color: ghostwhite;
}

.login-btn {
    width: 95%;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 172, 251);
    color: white;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    font-size: 15pt;
    font-weight: 700;
    transition: 1s;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-btn:hover {
    transform: scale(1.03);
    letter-spacing: 4px;
    background-color: #7FFFD4;
    color: #1E90FF;
}

.show {
    animation: popup 1s ease-out 1;
    position: absolute;
    top: 50vh;
    left: 50vw;
}


/* for chrome to hide scrollbar */
&::-webkit-scrollbar {
    display: none;
}


@keyframes popup {
    0% {
        scale: 0;
        z-index: 10;
        rotate: 0deg;
    }

    50% {
        scale: 1;
        rotate: 380deg;
    }

    60% {
        scale: 1;
        rotate: 345deg;
    }

    70% {
        scale: 1;
        rotate: 370deg;
    }

    85% {
        scale: 1;
        rotate: 355deg;
    }

    100% {
        scale: 1;
        z-index: 10;
        rotate: 360deg;
    }

    /* 100% {
        scale: 1;
        left: 0px;
        rotate: 360deg;
    } */

}


@keyframes glowing {
    0% {
        box-shadow: 10px 10px 1000px 100px rgba(1, 230, 255, 0.3);
    }

    20% {
        box-shadow: 10px 10px 1000px 100px rgba(4, 241, 99, 0.733);
    }

    40% {
        box-shadow: 10px 10px 1000px 100px rgba(192, 244, 3, 0.733);
    }

    60% {
        box-shadow: 10px 10px 1000px 100px rgba(255, 128, 1, 0.733);
    }

    80% {
        box-shadow: 10px 10px 1000px 100px rgba(242, 1, 255, 0.733);
    }

    100% {
        box-shadow: 10px 10px 1000px 100px rgba(1, 230, 255, 0.3);
    }
}

.show.active {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}